.standard-input-box > input {
    margin : 0 auto;
    margin-bottom: 1rem;
    width: 24rem;
    height: 3rem;
    font-size: 1.5rem; 
    font-family: 'poppins', sans-serif;
    opacity: 0.7;
    padding: 0.5rem;
  }
  
  .standard-input-box > input::placeholder {
    color: #254D32;
  }