.resource-tile {
    background-color: #f2f2f2;
    margin: 2rem;
    display: flex;
    padding: 0;
    height: 12rem;
    border-radius: 15px;
    transition: 0.6s;
}

.resource-tile:hover {
    transition: 0.6s;
    scale: 1.02;
    box-shadow: 5px 5px;
}

.resource-image {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 30%;
}

.resource-image > img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.resource-content {
    margin : 1rem;
    width:100%;
}

.resource-content > h2{
    font-family: 'poppins', sans-serif;
    font-weight: 300;
    color: #254D32;
    font-size: 2rem;
    margin: 0;
    margin-bottom: 1rem;
}

.resource-link > a{
    font-family: 'poppins', sans-serif;
    font-weight: 300;
    color: #595A5E;
    font-size: 1.5rem;
}

.resource-link {
    margin-top: -1rem;
}