.favoritetile-main {
    background-color: white;
    margin: 1rem;
    display: flex;
    height : 15rem;
    width : 76rem;
    position: relative;
    overflow: hidden;
    padding : 1rem;
}

.favtile-img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    width: 30%;
}

.favtile-img img{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.favtile-middle {
    margin: 1rem;
    margin-left: 3rem;
    height: auto;
    position: relative;
    width: 25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.favtile-middle > h2 {
    position: absolute;
    top: -1rem;
}

.favtile-location {
    display: flex;
    position: absolute;
    top: 3rem;
}

.favtile-loc-icon {
    margin-top: 1.5rem;
    margin-right: 0.5rem;
}

.favtile-rating {
    background-color: #254d32;
    position: absolute;
    bottom: 0;
    width: 5rem;
    border-radius: 1rem;
    text-align: center;
    height: 3rem;
}

.favtile-rating > h2 {
    color: white;
    margin: 0;
    margin-top: 0.5rem;
}

.favtile-stats {
    height: 100%;
    right: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

.favtile-stats-tile {
    background-color: #aae8ca;
    width: 18rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.favtile-tags {
    border: solid;
}