.resources-page {
    width: 100vw;
    display: flex;
  }

.resource-right {
    margin-left: 20vw;
    background-color: #F2F2F2;
    width: 100%;
}

.resource-header {
    color: #254D32;
    font-size: 3.2rem;
    margin: 3rem;
    font-family: "Poppins-bold", sans-serif;
    font-weight: 800;
    font-style: normal;
}