.main-timer {
    background-color: #f2fff4;
    margin-top: 5rem;
    /* position: absolute; */
    width : 17rem;
    height : 30rem;
    border: solid;
    border-color: #254d32;
    border-radius: 10px;
}

.timer-times > h1 {
    font-size: 9rem;
    margin: 0;
    padding: 0;
    margin-left: 3rem;
    margin-right: 3rem;
    color: #254d32;
    font-family: 'poppins', sans-serif;
    font-weight: 300;
}

.timer-action {
    border: solid;
    border-color: #254d32;
    margin: 5rem;
    border-radius: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
}

.timer-action-icon {
    font-size: 1.5rem;
    color: #254d32;
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    margin-right: 0.4rem;
}

.timer-action > h3 {
    font-family: 'poppins', sans-serif;
    text-align: center;
    color: #254d32;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.timer-button {
    background-color: #8ee6a3;
    border: solid;
    border-color: #254d32;
    margin-left: 6rem;
    padding-left: 2rem;
    padding-right : 2rem;
    padding-top : 1rem;
    padding-bottom : 1rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.timer-button:hover {
    background-color: #5cbb5f; /* Darker green */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow */
    transform: translateY(-3px); /* Move up slightly */
}

.timer-icons {
    color: #254d32;
    font-size: 1.5rem;
}
