.spacePage {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
}

.space-content {
    padding: 5px 60px; 
    width: 100%;
    height: 100%;

}

.space-menu-bar {
    margin-top: 20px;
    height: 40px;
    width: 100%;
    /* background-color: red; */

    display: flex;
    justify-content: space-between;
}

.interactables {
    display: flex;
    color: grey;
}

.interactables div {
    margin-left: 20px;
    display: flex;
    cursor: pointer;
}

.interactables div * {
    margin-left: 5px;

}

.imageCarousel {
    background-color: rgba(108, 108, 108, 0.235);
    width: 100%;
    height: 50vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.imageCarousel img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.space-info {
    display: flex;
    flex-direction: row;
}

.space-labels {
    /* background-color: red; */
    flex-basis: 60%;
}


.space-main-label {
    display: flex;
    justify-content: space-between;
    padding-bottom:  5px;
    border-bottom: 2px solid;
    border-color: grey;
}

.space-tags {
    padding-right: 10%;
    padding-bottom:  30px;
    border-bottom: 2px solid;
    border-color: grey;
}

.space-ameneties {
    padding-bottom: 10vh;

}

.space-ameneties-list {
    display: flex;
    flex-wrap: wrap;
}

/* Space Ratings */

.space-ratings {
    /* background-color: blue; */
    flex-basis: 40%;
}

.space-stats {
    margin: 20px;
    background-color: rgb(205, 205, 205);
    width: 95%;
    border-radius: 20px;
    
    box-shadow: 6px 6px;

    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.space-stats div{
    margin: 20px;
    width: 80%;
    background-color: #e9e9e9;
    padding: 0px 20px;
    border-radius: 15px;

    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}
