
/* clearing margins by default so div fills screen */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.landing-page {
  background: linear-gradient(to right, #3A7D44 50%, #181D27 50%);
  height:100vh;
}

.left-half {
  float: left;
  width: 50%;
}

.image-container {
  display: flex;
  flex-direction: row;
  float: right;
  border: 3px solid #ccc;
  padding: 0px;
  align-items: start;
}

.laptop-img {
  height: 700px;
  width: 700px;
}

.div-title {
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: -40px;
}

.land-title {
  display: inline-block;
  text-align: left;
  font-family: 'poppins-bold', sans-serif;
  font-size: 6rem;
  line-height: 1.333;
  margin: 0;
  padding: 0;
}

.landing-button {
  background-color: #181D27;
  color: #ffff;
  padding: 1rem 4rem;
  border-radius: 1.5rem;
  font-size: 2rem;
  margin: 1rem;
  cursor: pointer;
  font-family: 'poppins', sans-serif;
}

.button-div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

