.navbar {
    background-color: #254D32;
    display: flex;
    height: 80px;
    justify-content: start;
    align-items: center;
  }
  
  .nav-menu {
    background-color: #254D32;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
  }