/* Log in page styles */
.login-container{
  background: #254D32;
  height:100vh;
  display: flex;
  justify-content: space-between;
}

.login-title {
  text-align: center;
  font-family: 'poppins-bold', sans-serif;
  font-size: 4rem;
  margin-top: 6rem;
  color: #F2F1DC;
  font-weight: 600;
}

.left-half {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #F2F1DC;
  
  width: 50%;
}

.right-half {
  width: 50%;
  height: 100%;  
  overflow:hidden;
}