.review {
    border-radius: 15px;
    background: #F2F2F2;
    overflow: hidden;
    font-family: 'poppins', sans-serif;
    width : 45%;
    height : 10rem;
    padding : 1rem;
    position: relative;

    margin: 1rem;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.username {
    margin-left: 0.75rem;
    font-size: 1.125rem;
}

.rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 0.75rem;
}

.reviewer-info {
    display: flex;
    justify-content: space-between;
}

.comment {
    width: 90%;
    margin: auto;
}